button{
    border-radius: 10%;
    cursor: pointer;
    color: #FEFAF1;
}
/*Estilizações de todos os componentes que são butões*/
#butoes{
    position: relative;
}
#operacoes{
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    grid-column: 2;
    width: 50px;
}
#numeros{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 85px 85px 85px;
    width: max-content;
    height: max-content;
}
/*Animações de cada classe de butões, das operações e dos números*/
.Num{
    font-size: larger;
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: large;
    font-family: monospace;
    font-size: 20px;
    transition: box-shadow 950ms;
    background-color: #060606b3;
}
.Num::before{
    content: "";
    z-index: -1;
    background-color: #68fe9aca;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 550ms;
}
.Num:hover{
    font-size: 30px;
    box-shadow: 3px 6px 15px #68fe9abb;
}
.Num:hover::before{
    width: 100%;
}
.Ope{
    font-size: 25px;
    width: 40px;
    height: 40px;
    background-color: #24272C;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-family: monospace;
    transition: background-color 150ms;
    transition: font-size 150ms;
}
.Ope::before{
    content: "";
    z-index: -1;
    background-color: #fc3333;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    right: 0;
    transition: width 250ms;
}
.Ope:hover::before{
    width: 100%;
}
:where(#mais, #apagar, #vezes, #resu):hover{
    font-size: 35px;
}
#menos{
    font-size: 35px;
}
#menos:hover{
    font-size: 20px;
}
#pdivis{
    font-size: 30px;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: transform 250ms;
} 
#pdivis:hover{
    transform: rotate(66deg);
}  
#zeros{
    width: 100%;
    text-align: center;
}
