#tela{
    background-color: black;
    display: inline-block;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}
input{
    display: block;
    width: 380px;
    text-align: end;
    background-color: rgb(49, 49, 49);
    border: unset;
    color: whitesmoke;
    cursor:auto;
}
#superior{
    height: 50px;
    font-size: 50px;
    border-radius: 10px 10px 0px 0px;
}
#inferior{
    height: 20px;
    font-size: 15px;
    border-radius: 0px 0px 10px 10px;
}